{% extends "easy_pdf/base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;font-size: 2.5rem;">Contact Information</h1>
    <h2><strong style="color:brown; font-size: 2rem;">Name: </strong><strong  style="font-size: 1.5rem;">{{user_profile.name}}</strong></h2>
    <h2><strong style="color:brown; font-size: 2rem;">Email: </strong><strong  style="font-size: 1.5rem;">{{user_profile.email}}</strong></h2>
    <h2><strong style="color:brown; font-size: 2rem;">Phone: </strong><strong  style="font-size: 1.5rem;">{{user_profile.phone}}</strong></h2>
    <hr/>
    <br/>
    <h1 style="text-align: center;font-size: 2.5rem;">Education</h1>
    <h2><strong style="color:brown; font-size: 2rem;">Degree: </strong><strong  style="font-size: 1.5rem;">{{user_profile.degree}}</strong></h2>
    <h2><strong style="color:brown; font-size: 2rem;">University: </strong><strong  style="font-size: 1.5rem;">{{user_profile.university}}</strong></h2>
    <h2><strong style="color:brown; font-size: 2rem;">School: </strong><strong  style="font-size: 1.5rem;">{{user_profile.school}}</strong></h2>
    <hr/>
    <br/>
    <h1 style="text-align: center;font-size: 2.5rem;">About You</h1>
    <h2 style="color:brown; font-size: 2rem;">Summary: </h2>
    <p><strong style="font-size: 1.5rem;">{{user_profile.summary}}</strong></p>
    <h2 style="color:brown; font-size: 2rem;">Skills: </h2>
    <p><strong style="font-size: 1.5rem;">{{user_profile.skills}}</strong></p>
    <h2 style="color:brown; font-size: 2rem;">Experience: </h2>
    <p><strong style="font-size: 1.5rem;">{{user_profile.previous_work}}</strong></p>


    

</body>
</html>

{% endblock %}


